/* Styles for laptops and larger screens */
body {
    background-color: rgb(14, 101, 94);
    margin: 0;
}

nav {
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav .current-page {
    color: rgb(14, 101, 94);
    font-weight: bold;
}

nav a:hover {
    color: rgb(14, 101, 94);
}

nav ul {
    padding: 0;
    top: 0;
    padding-top: 5px;
    text-align: center;
    display: inline;
    font-size: x-large;
}

nav li {
    display: inline;
    padding: 0 20px 0 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 0%;
    padding: auto;
}

img {
    height: 100px;
    padding: 0;
    margin: 0;
    border-radius: 200%;
}

div {
    text-align: center;
    background-color: rgb(14, 101, 94);
    color: white;
    margin-bottom: -200%;
    padding: 10px;
    font-size: x-large;
    padding-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#bar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    margin: 0;
}

#bar li {
    margin: 0;
}

#bar li a {
    text-decoration: none;
    color: rgb(14, 101, 94);
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

#bar li a:hover {
    background-color:whitesmoke;
}

#main img {
    width: 50px; /* Adjust the size of your logo */
}

/* Add animation to list items */
#bar li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

div #container1 {
    padding-top: 15%;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: blueviolet;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e604, 0 0 40px #00e604, 0 0 50px #00e604;
    }
    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #00e604, 0 0 40px #00e604, 0 0 50px #00e604, 0 0 60px #00e604;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e604, 0 0 40px #00e604, 0 0 50px #00e604;
    }
}
h1{
    animation: glow 1s ease-in-out infinite;
    color: black;
}


/* Styles for tablets */
@media (max-width: 768px) {
    nav {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    nav ul {
        font-size: large;
    }

    nav li {
        padding: 0 10px;
    }

    img {
        height: 80px;
    }

    div #container1 {
        padding-top: 10%;
    }
}

/* Styles for phones */
@media (max-width: 480px) {
    nav {
        padding-top: 0;
        padding-bottom: 0;
    }

    nav ul {
        font-size: medium;
    }

    nav li {
        padding: 0 5px;
    }

    img {
        height: 60px;
    }

    div #container1 {
        padding-top: 5%;
    }
}
