body {
    background-color: whitesmoke;
    margin: 0%;
    align-items: center;
    text-align: center;
    /* text-align: center; */
}

nav {
    background-color: rgb(14, 101, 94);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin: 0%;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav .current-page {
    color: rgb(14, 101, 94);
    /* Change the link color for the current page */
    font-weight: bold;
    /* Apply bold font to the current page link */
}

nav :hover {
    color: black;
}

nav ul {

    margin: 0%;
    padding: 0;
    margin: auto;
    top: 0;
    padding-top: 5px;
    text-align: center;
    display: inline;
    font-size: x-large;

}

img {
    align-items: center;
    height: 100px;
    border-radius: 100%;
    align-self: auto;
}

nav li {
    display: inline;
    padding: 0 20px 0 20px;
    color: white;
    text-align: center;
    /* text-decoration: none; */
}
h1{
    margin-top: 0%;
}
div {
    float: left;
    padding: 2%;
    margin-top: 10%;
}

.wrapper {
    flex-grow: 1;
    /* Grow to fill available space */
}
ul #list{
    margin-top: 10;
    text-align: center;
    text-decoration: none;
    
}
li{
    display: inline;
    text-decoration: none;
}
footer {
    color: whitesmoke;
    text-align: center;
    background-color: rgb(14, 101, 94);
    margin-bottom: -20%;
    margin: 0;
    margin-top: 41%;
    padding: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#bar li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
    display: inline;
}

#bar li a:hover {
    background-color:grey;
}

#main img {
    width: 50px; /* Adjust the size of your logo */
}

/* Add animation to list items */
#bar li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}