body{
    background-color: rgb(14, 101, 94);
    margin: 0%;
    align-items: center;
    text-align: center;
    /* text-align: center; */
}
nav{
    background-color: whitesmoke;
    
    margin-top:1%;
    text-align: center;
    margin: 0%;
    /* text-decoration: none; */
}
nav a{
    text-decoration: none;
    color: black;
}
  
nav .current-page {
    color: rgb(14, 101, 94); /* Change the link color for the current page */
    font-weight: bold; /* Apply bold font to the current page link */
}
nav :hover{
    color: rgb(14, 101, 94);
}

nav ul{
    
    margin: 0%;
    padding: 0;  
    margin:auto;
    top: 0;
    padding-top:5px; 
    text-align: center;
    display: inline;
    font-size: x-large;
        
}
h1{
    text-align: center;
    color: whitesmoke;
}
img{
    align-items: center;
    width:250px;
    height: 300px;
    border-radius: 25%;
    align-self: auto;
}
#img1{
    height: 100px;
    width: 95px;
    border-radius: 100%;
}
nav li{
    display: inline;
    padding: 0 20px 0 20px;
    color: white;
    text-align: center;
    /* text-decoration: none; */
}
#main{
    font-size: 200%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    text-align: center;
    padding: 70px;
    padding-top: 0;
    padding-bottom: 0%;
    color: whitesmoke;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

link {
    border-radius: 100%;
}


footer{
    color: black;
    text-align: center;
    background-color:whitesmoke;
    
    
    margin-top: 6%;
    padding:1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#bar li a {
    text-decoration: none;
    color: rgb(14, 101, 94);
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
    display: inline;
}

#bar li a:hover {
    background-color:grey;
}

#main img {
    width: 50px; /* Adjust the size of your logo */
}

/* Add animation to list items */
#bar li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



